.restInfo {
    margin-top: 2rem;
    height: 17rem;
    background-color: hsl(175, 41%, 79%);
    border-radius: 0%;
    padding: 2.5rem;
}

.image {
    min-height: auto;
    max-height: 200px; 
    padding-bottom: 10px;
    padding-left: 15px;
     
}
span {
    padding-left: 17px;
    font-family: sans-serif;
    color: gray;
    
}











